@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "switzer-med";
  font-style: normal;
  src: url(/fonts/swi-med.woff2) format("woff2");
}
@font-face {
  font-family: "switzer-reg";
  font-style: normal;
  src: url(/fonts/swi-reg.woff2) format("woff2");
}


@layer base {
  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 8px; /* height of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
    border-radius: 6px; /* roundness of the scrollbar handle */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the scrollbar track */
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* color of the scrollbar corner */
  }
  pre > code {
    overflow-x: auto;
    padding: 1rem 0;
    background-color: #0d1117;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .form label {
    @apply mb-2 block text-sm font-medium text-gray-900;
  }
  .form input,
  textarea {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900 shadow-sm;
  }
  .gradient-cool {
    background: url("/gradient/g4.jpg");
    background-size: 100% 100%;
  }

  .ldr,
  .ldr:before,
  .ldr:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .ldr {
    color: #fff;
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .ldr:before,
  .ldr:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .ldr:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .ldr:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  .bg-stripes-blue {
    background-color: #60a5fa1a;
    background-image: linear-gradient(
      135deg,
      #3b82f680 10%,
      #0000 0,
      #0000 50%,
      #3b82f680 0,
      #3b82f680 60%,
      #0000 0,
      #0000
    );
    background-size: 7.07px 7.07px;
  }
  .bg-stripes-green {
    background-color: #60a5fa1a;
    background-image: linear-gradient(
      135deg,
      #1ba163a1 10%,
      #0000 0,
      #0000 50%,
      #1bc028ab 0,
      #20d33880 60%,
      #0000 0,
      #0000
    );
    background-size: 7.07px 7.07px;
  }
}
